:root{
	--clover-primary: #2e655f;
	--clover-text-lg: 3rem;
	--clover-text-md: 2rem;
	--clover-text-sm: 1.4rem;
	--clover-text-xs: 1.2rem;
}

*{
	box-sizing: border-box;
	margin: 0px;
	font-family: system-ui;
}

body {
	overflow: hidden;

}

.hidden {
	display: none !important;
}

.onboarding {
	background-image: url('../images/flower-bg.jpeg');
	/*background: #283a3a;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  animation: move-onboarding 2s ease-out forwards;
  animation-delay: 5s;
}

.onboarding .clover-text {
	font-size: var(--clover-text-lg);
	color: white;
}

.onboarding .clover-logo {
  animation: logo-beat 5s ease-out forwards;
}


@keyframes logo-beat {
  0% {
    transform: scale(0.5);
  }
  25% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes move-onboarding {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
    opacity: 0.5;
  }
}

main {
	opacity: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100vh;
  /*animation: show-main 1s ease-out forwards;*/
}

/*@keyframes show-main {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*/
.main-body__right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  background: url('../images/flower-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  animation: show-main-right 2s ease-out forwards;
}

/*@keyframes show-main-right {
  from {
    transform: translateX(-50vw);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}*/

.main-body__right .clover-logo {

}

.main-body__right .clover-welcome {
  font-size: var(--clover-text-lg);
  /*font-weight: lighter;*/
}

.main-body__right p {
	font-size: var(--clover-text-sm);
  font-weight: lighter;
}

.main-body__left {
	display: flex;
  width: 50vw;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  color: var(--clover-primary);
  padding: 100px 0px 0px 150px;
  animation: show-main-left 2s ease-out forwards;
}

/*@keyframes show-main-left {
  from {
    transform: translateX(50vw);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
*/
.main-body__left .form-heading {
	margin-bottom: 40px;
}

.main-body__left .form-heading h1 {
	font-size: var(--clover-text-lg);
}

.main-body__left .form-heading p {
	font-size: var(--clover-text-sm);
}

.main-body__left form#signup-form {
	width: 60%;
  margin-bottom: 20px;
}

.main-body__left form#signup-form .clover-input {
	position: relative;
  margin-bottom: 40px;
  width: 100%;
}

.main-body__left form#signup-form .clover-input label {
  display: block;
  /* font-size: 1.1rem; */
  font-weight: bold;
  margin-bottom: 5px;
}

.main-body__left form#signup-form .clover-input input {
  width: 100%;
  height: 50px;
  border: 1px #223131 solid;
  border-radius: 5px;
  outline: none;
  font-size: var(--clover-text-sm);
  padding: 0 15px;
}
.main-body__left form#signup-form button {
	width: 100%;
  background: var(--clover-primary);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: var(--clover-text-sm);
  /* font-weight: lighter; */
  padding: 15px;
  margin-bottom: 40px;
  cursor: no-drop;
}

.main-body__left .clover-footer__links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.main-body__left .clover-footer__links a,
.main-body__left .clover-footer__links a:visited {
	color: var(--clover-primary);
}

.invalid-input {
	color: red;
  font-size: 1rem;
  position: absolute;
  bottom: -20px;
  left: 0;
  display: block;
}

.error-input {
	border-color: red !important;
}

.clover-alert {
  display: none;
  position: absolute;
  background: var(--clover-primary);
  top: 27px;
  right: 40px;
  color: white;
  padding: 11px 9px 11px 53px;
  border-radius: 0px 5px 5px 0px;
  font-size: var(--clover-text-xs);
  box-shadow: 5px 15px 51px rgb(55 43 118 / 30%);
  animation: show-alert 1s ease-out forwards;
}

.clover-alert .icon {
  position: absolute;
  left: 18px;
  top: 15px;
}

.clover-alert p {
  border-left: 1px solid white;
  padding: 0px 10px;
}

@keyframes show-alert {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 1240px) {
  body {
    overflow: visible;
  }
  main {
    flex-direction: column;
    justify-content: initial;
  }

  .main-body__right {
    width: 100vw;
    height: 50vh;
  }

  .main-body__right .clover-logo {
    width: 15%;
  }

  .main-body__right p {
    font-size: var(--clover-text-lg);
  }

  .main-body__right .clover-welcome {
    font-size: 8rem;
  }
  .main-body__left {
    width: 100vw;
    padding: unset;
    align-items: center;
    margin-top: 60px;
  }

  .main-body__left form#signup-form,
  .main-body__left .clover-footer__links {
    width: 60%;
  }

  .main-body__left form#signup-form .clover-input input {
    width: 100%;
    height: 60px;
  }

  .main-body__left .form-heading {
    display: none;
  }


}